<template>
    <div class="form-row">
        <div class="list-search revealOnScroll search-on-homepage"
             data-animation="fadeInDown"
             data-timeout="200">
            <button><i class="fa fa-search"></i></button>
            <input @keyup="searchCategory" v-model="categoryName" type="text" class="form-control"
                   placeholder="Hvad søger du?"/>
            <div id="category-results">
                <ul>
                    <li v-for="category in categoriesResult"><a :href="'/projects/create/' + category.id">{{category.category_name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--./form-row -->
</template>

<script>
    export default {
        data() {
            return {
                categoryName: '',
                categoriesResult: []
            }
        },
        methods: {
            searchCategory() {

                let self = this;

                if (self.categoryName.length) {
                    axios.get('/catalog/search-category/' + self.categoryName)
                        .then(function (response) {
                            self.categoriesResult = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    self.categoriesResult = [];
                }

            }
        },
        created() {
            console.log('Component mounted.')
        }
    }
</script>
