@media only screen and (max-width: 1700px) {
    .header-jobs h1 {
        margin-left: 7px;
    }
}

@media only screen and (max-width: 1500px) {
    .header-jobs h1 {
        margin-left: 56px;
    }
}

@media only screen and (max-width: 1200px) {
    .header-jobs h1 {
        margin-left: 133px;
    }
}

@media only screen and (max-width: 1199px) {
    .navbar-brand img {
        width: 170px;
    }

    .navbar-brand {
        padding: 31px 15px;
    }

    .menu li {
        margin-left: 10px !important;
        line-height: 94px;
    }

    .filter-project {
        /*min-height: 335px;*/
        min-height: 382px;
    }

    .header-jobs {
        height: 200px;
    }

    .header-jobs .content {
        margin-top: 80px;
    }

    .header-jobs h1 {
        font-size: 30px;
        text-align: center;
    }

    .projects .header-jobs .col-md-12 {
        margin-top: 0;
    }

    .header-jobs h1 {
        margin-top: 50px;
        margin-left: 0;
    }

    .overview #sidebar {
        padding: 10px 0 0;
    }

    .edit-blade .white-form .kafe-btn.kafe-btn-mint {
        margin-top: 15px;
    }

    .overview .white-form .change-password,
    .overview .white-form .update {
        margin-top: 15px;
    }

    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    /*.job .bottom-sec .kafe-btn-mint-small {*/
    /*margin-top: 3px;*/
    /*margin-bottom: 10px;*/
    /*}*/
    /*.buttons-holder{*/
    /*width: 100%;*/
    /*}*/
    .col-md-offset-2 {
        margin-left: 0 !important;
    }

    .admin-container .col-lg-8.white-2 {
        margin-right: 15px;
        margin-left: 15px;
        overflow: hidden;
    }

    .proposal-show .send-msg,
    .proposal-show .choose-proposal {
        margin-top: 0;
    }

    .proposal-show .send-msg a {
        margin-top: 10px;
    }

    .project-show.job .bottom-sec .kafe-btn-mint-small {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .project-show .view-proposal {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .catalog-category .white-no-margin {
        margin: 0 15px !important;
    }

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding: 9px 0 0;
    }

    /*.menu li {*/
    /*float: none;*/
    /*margin: 0 auto;*/
    /*line-height: 0;*/
    /*}*/
    .menu .kafe-btn-default.btn-gradient {
        clear: left;
        margin-top: 5px;
    }

    .footer .col-sm-6 {
        min-height: 310px;
        height: auto;
    }

    #main-footer .social-links li {
        display: inline-block;
        margin: 0;
    }

    .copyright {
        text-align: center;
    }

    .filter-project {
        /*min-height: 366px;*/
        min-height: 415px;
    }

    .btn-filter {
        margin-left: 15px;
    }

    .projects .header-jobs .col-md-12 {
        margin-top: 20px;
    }

    .projects .header-jobs {
        height: 135px;
    }

    .projects .header-jobs .col-md-12 {
        margin-top: 10px;
    }

    .header-jobs h1 {
        margin-top: 0;
    }

    .header-jobs {
        height: 135px;
    }

    .projects .header-jobs .content {
        margin-top: 71px;
    }

    .project-create .white-form .kafe-btn.kafe-btn-mint {
        width: 100%;
        margin-top: 20px;
    }

    .edit-blade .white-form .kafe-btn.kafe-btn-mint {
        width: 100%;
        margin-top: 20px;
    }

    .overview .no-padding-on-mobile .col-md-6,
    .overview .no-padding-on-mobile .col-md-12 {
        padding: 0;
    }

    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }

    .notifications-count {
        right: 24px;
        top: 8px;
    }

    #notifications-button .menu li.dropdown ul.dropdown-menu {
        width: 250px;
    }

    .menu li.dropdown ul.dropdown-menu {
        padding: 4px 0 0 0;

        left: inherit;
        right: 0;
    }

    #login-dropdown ul.dropdown-menu {
        left: inherit;
    }

    .menu li.dropdown ul.dropdown-menu:before {
        right: 28px;
    }

    .menu li {
        margin-left: 0 !important;
    }

    .search-field {
        margin-bottom: 10px;
    }

    .job .top-sec .col-sm-2 {
        width: 75px;
    }

    .job .top-sec .col-sm-10 {
        width: auto;
    }

    .create-task-mobile {
        margin-left: 20px !important;
    }

    .create-task-mobile.registration {
        margin-left: 15px !important;
    }

    #register-from-project .responsive-firm-form {
        display: block;
        float: left;
        width: 100%;
        clear: both;
    }
}

@media only screen and (max-width: 812px) {
    .create-task-mobile.clear-left {
        clear: left;
    }
}

@media only screen and (max-width: 768px) {

    .home-slider-img .slider-img {
        width: auto;
        padding: 0 20px;
    }

    .menu li.dropdown ul.dropdown-menu {
        /*left: 0;*/
        left: -80px;
        right: inherit;
    }

    .menu li.new-message-notification ul.dropdown-menu {
        left: -170px !important;
    }

    /*#login-dropdown ul.dropdown-menu {*/
    /*left: inherit;*/
    /*}*/
    #login-dropdown ul.dropdown-menu {
        left: -100px;
    }

    /*.menu li.dropdown ul.dropdown-menu:before {*/
    /*right: inherit;*/
    /*left: 15px;*/
    /*}*/
    .menu li.dropdown ul.dropdown-menu:before {
        right: 30px !important;
        left: initial !important;
    }

    .menu .kafe-btn-default.btn-gradient {
        margin-left: 15px;
    }

    .table-responsive {
        display: block;
    }

    .subscription-column {
        min-width: 265px;
    }

    .create-task-mobile.registration {
        margin-left: 0 !important;
    }

    #category-results {
        max-height: 214px;
    }
}

@media only screen and (max-width: 767px) {
    .footer .col-sm-6 {
        min-height: auto;
        height: auto;
        margin-bottom: 30px;
    }

    .header-jobs {
        height: auto;
        width: 100%;
    }

    .header-jobs .content {
        margin-top: 60px;
    }

    .projects .header-jobs .content {
        margin-top: 54px;
    }

    .header-one {
        height: auto;
    }

    .header-one .content {
        margin-top: 130px;
    }

    .services-holder .col-xs-12 {
        width: 50%;
    }

    .projects .header-jobs .col-md-12 {
        margin-top: 28px;
    }

    .header-jobs h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .overview #sidebar {
        padding: 10px 15px 0;
    }

    .overview .col-lg-8.white-2 {
        margin-right: 15px;
        margin-left: 15px;
    }

    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    /*.user-img.col-xs-2{*/
    /*width: 10%;*/
    /*}*/
    /*.user-email.col-xs-2{*/
    /*width: 90%;*/
    /*}*/
    .search-on-homepage {
        padding: 1px 15px !important;
    }

    #category-results {

        top: 42px;
        width: 485px;
        left: 35px;

    }
}

@media only screen and (max-width: 660px) {
    .menu li#notifications-button {
        clear: left;
        height: auto;
    }

    #login-dropdown ul.dropdown-menu {
        left: 0;
    }

    .menu li.dropdown ul.dropdown-menu:before {
        right: inherit !important;
        left: 11px !important;
    }

    .menu li.dropdown ul.dropdown-menu {
        left: 7px;
    }

    .menu li.new-message-notification ul.dropdown-menu {
        left: 7px !important;
    }
}

@media only screen and (max-width: 600px) {
    .services-holder .col-xs-12 {
        width: 100%;
    }

    #category-results {
        width: 78%;
    }
}

@media only screen and (max-width: 480px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (max-width: 460px) {
    .menu li {
        margin-left: 0;
        /* line-height: 57px; */
        width: 100% !important;
    }

    .menu li.dropdown {
        line-height: 63px;
        height: auto;
    }

    #notifications-button,
    #messages-button,
    #login-dropdown {
        width: auto !important;
    }

    .menu li.dropdown ul.dropdown-menu {
        left: 22%;
    }

    #login-dropdown ul.dropdown-menu {
        left: 19%;
    }

    /*.menu li.dropdown ul.dropdown-menu {*/
    /*top: 8px;*/
    /*left: 20% !important;*/
    /*}*/
    /*.menu li.dropdown ul.dropdown-menu:before {*/
    /*content: "";*/
    /*right: auto;*/
    /*top: 8px;*/
    /*left: -20px;*/
    /*float: left;*/
    /*z-index: 10;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 10px solid transparent;*/
    /*border-bottom: 10px solid transparent;*/
    /*border-right: 10px solid white;*/
    /*}*/
    /*.menu .kafe-btn-default.btn-gradient {*/
    /*margin-left: 15px;*/
    /*}*/
    .menu .kafe-btn-default.btn-gradient {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 414px) {
    .overview .table-project .kafe-btn.kafe-btn-mint-small {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0 !important;
    }

    .dark-label {
        font-size: 12px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle;
    }

    .job .bottom-sec .kafe-btn-mint-small {
        font-size: 10px;
    }

    .admin-container .col-lg-8.white-2 h3 {
        font-size: 22px;
    }

    .main-signup .form-sign .form-btn {
        font-size: 13px;
    }

}

@media only screen and (max-width: 375px) {
    .form-sign .form-btn {
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 320px) {

}